<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.StudentMapper">
    <update id="updateStudentInfo" parameterType="com.qf.pojo.Student">
        update student set stuname=#{stuname},stusex=#{stusex},stuage=#{stuage} where stuid=#{stuid}
    </update>

    <select id="getStudentInfoByUid" parameterType="int" resultType="com.qf.pojo.Student">
        select * from student where uid=#{uid}
    </select>
</mapper>